<!DOCTYPE html>
<html>
<head>
	<title>Signup Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="signup-container">
		<form>
			First Name<br>
			<input class="signup-box" type="text" name="firstname"> <br>
			Last Name <br>
			<input class="signup-box" type="text" name="lastname"> <br>
			Email <br>
			<input class="signup-box" type="text" name="email"> <br>
			Date of Birth <br>
			<input class="signup-box" type="text" name="dob"> <br>
			Password <br>
			<input class="signup-box" type="text" name="password"> <br>
			<button type="submit" value="signup"> Signup </button>
		</form>
	</div>

</body>
</html