<!DOCTYPE html>
<html>
<head>
	<title>Questionaire Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="question-container">
	
		<p> High-Rated Food Spots in Pitt </p>

		<form>
			<label>Urban Tap</label> <br>
  			<input type="radio" name="urbantap"><br>

  			<label>Pipers Pub</label><br>
  			<input type="radio" name="pipers"><br>

  			<label>Carmella's</label> <br>
  			<input type="radio" name="carmellas"><br>

  			<label>Las Palmas</label><br>
  			<input type="radio" name="palmas"><br>

  			<label>Other</label><br>
  			<input type="radio" name="other"><br>

			<input class="question-box" type="text" name="other" placeholder="enter another option..."> <br>
		</form>
	</div>

</body>
</html>