<!DOCTYPE html>
<html>
<head>
	<title>Search Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="search-container"> 
		<form>
			<input class="search-box" type="text" name="search" placeholder="start your search..."> <br>
			<select>
				<optgroup>
					<option>Lion</option>
					<option>Tiger</option>
					<option>Cheetah</option>
					<option>Bear</option>
					<option>Wolf</option>
					<option>Heyena</option>
				</optgroup> <br>
			</select> <br>

			<button type="submit" value="search"> Search </button>

		</form>


	</div>


</body>
</html>