<!DOCTYPE html>
<html>
<head>
	<title>Color Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="color-container">

		<h1> Color Wheel </h1>
		<form>
			<label>Red</label><br>
			 <input type="range" name="red" min="0" max="255" step="5"><br>

			 <label>Blue</label><br>
			 <input type="range" name="blue" min="0" max="255" step="5"><br>

			 <label>Green</label><br>
			 <input type="range" name="green" min="0" max="255" step="5"><br>

			 <label>Alpha</label><br>
			 <input type="range" name="alpha" min="0" max="1" step=".01"><br>

			 <textarea rows="4" cols="50">
			 	
			 </textarea>
		</form>
	</div>

</body>
</html>