<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="schedule-container">
		<form>
			<label> Date </label><br>
			<input class="schedule-box" type="date" name="date"> <br>

			<label>Time</label><br>
			<input class="schedule-box" type="time" name="time"> <br>

			<label>Time Zone</label><br>
			<select>
				<optgroup>
					<option>Eastern Time Zone UTC-05:00</option>
					<option>Samoa Time Zone UTC-11:00</option>
					<option>Hawaii-Aleutian Time Zone UTC-10:00</option>
					<option>Pacific Time Zone UTC-08:00</option>
					<option>Mountain Time Zone UTC-07:00</option>
					<option>Central Time Zone UTC-06:00</option>
					<option>Atlantic Time Zone UTC-05:00</option>
					<option>Chamarro Time Zone UTC+10:00</option>
				</optgroup> <br>
			</select> <br>

			<label>Note</label><br>
			<textarea rows="4" columns="50" placeholder="Appointment notes..."></textarea> <br>

			<label> Contact Number </label><br>
			<input class="schedule-box" type="text" name="number" placeholder="(111)-111-1111"> <br>

			<label> Email Address </label><br>
			<input class="schedule-box" type="text" name="email" placeholder="jsadlon@gmail.com"> <br>


		</form>


	</div>

</body>
</html>