<!DOCTYPE html>
<html>
<head>
	<title>Credit</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="schedule-container">
		<form>
			<label> CardHolder Name </label><br>
			<input class="schedule-box" type="text" name="name" placeholder="jon snow"> <br>

			<label> Credit Card Number </label><br>
			<input class="schedule-box" type="text" name="ccnumber" placeholder="xxxx-xxxx-xxxx-xxxx" maxlength="19"> <br>

			<label> CSV Number </label><br>
			<input class="schedule-box" type="text" name="ccnumber" placeholder="123" maxlength="3"> <br>

			<label>Month</label><br>
			<select>
				<optgroup name="month">
					<option value="01">January</option>
				    <option value="02">February</option>
				    <option value="03">March</option>
				    <option value="04">April</option>
				    <option value="05">May</option>
				    <option value="06">June</option>
				    <option value="07">July</option>
				    <option value="08">August</option>
				    <option value="09">September</option>
				    <option value="10">October</option>
				    <option value="11">November</option>
				    <option value="12">December</option>
				</optgroup> <br>
			</select> <br>

			<label>Year</label><br>
			<select>
				<optgroup name="year">
					<option>2016</option>
				    <option>2015</option>
				    <option>2014</option>
				    <option>2013</option>
				    <option>2012</option>
				    <option>2011</option>
				    <option>2010</option>
				    <option>2009</option>
				    <option>2008</option>
				    <option>2007</option>
				    <option>2006</option>
				    <option>2005</option>
				    <option>2004</option>
				    <option>2003</option>
				    <option>2002</option>
				    <option>2001</option>
				</optgroup> <br>
			</select> <br>
		</form>
	</div>

</body>
</html>