<!DOCTYPE html>
<html>
<head>
	<title>Address Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="billing-shipping-container">

		<!-- Billing -->
		<div class="address-container">
			<h2> Billing </h2>
			<form>
				First Name<br>
				<input class="address-box" type="text" name="firstname"> <br>
				Last Name <br>
				<input class="address-box" type="text" name="lastname"> <br>
				Address <br>
				<input class="address-box" type="text" name="address"> <br>
				City <br>
				<input class="address-box" type="text" name="city"> <br>
				Country <br>
				<input class="address-box" type="text" name="country"> <br>
				<input type="checkbox" name="same"> Shipping Same <br>
			</form>
		</div>

		<!-- Shipping -->
		<div class="address-container">
			<h2> Shipping </h2>
			<form>
				First Name<br>
				<input class="address-box" type="text" name="firstname"> <br>
				Last Name <br>
				<input class="address-box" type="text" name="lastname"> <br>
				Address <br>
				<input class="address-box" type="text" name="address"> <br>
				City <br>
				<input class="address-box" type="text" name="city"> <br>
				Country <br>
				<input class="address-box" type="text" name="country"> <br>
				
			</form>
		</div>
	</div>

</body>
</html>