body {

	margin: 0;
	padding: 0;
	background-color: #FFF3E1;
}

.billing-shipping-container {
	text-align: center;
}

.address-container {

	border: 10px solid lightblue;
	width: 34%;
	min-width: 300px;
	height: 550px;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
	color: salmon;
	border-radius: 5px;
	font-family: Helvetica, arial;
	background: linear-gradient(45deg, #FFF3E1, salmon);
	display: inline-block;
	vertical-align: top;
}

.address-box {

	height: 30px;
}

.address-container input[type="text"] {

	font-size: 20px;
	border: 2px solid salmon;
	border-radius: 5px;
	box-shadow: 2px 2px 2px salmon;
	margin:5px;
}

.address-container input[type="text"]:hover {

	background-color: lightblue;
}












